[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "HCTR"]
	path = HCTR
	url = https://github.com/cran/HCTR
[submodule "sssc"]
	path = sssc
	url = https://github.com/cran/sssc
[submodule "vanquish"]
	path = vanquish
	url = https://github.com/cran/vanquish
